{% extends 'layout.html' %}
{% block content %}
  <section class="header">
    <h1>Travis Alstrand</h1>
    <p>Learn and help others as much as possible.</p>
    <img src="../static/travis.jpeg" alt="Headshot of myself">
  </section>
  <section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>More About Me</h2>
    <p>
      I currently work at Team Treehouse as a Student Success Specialist doing code reviews for students.
    </p>
    <h2>Hobbies</h2>
    <ul>
      <li>Learning</li>
      <li>Coding</li>
      <li>Playing Guitar</li>
      <li>Recording/Mixing Music</li>
      <li>Trips to the Ocean</li>
      <li>Watching True Crime Documentaries</li>
      <li>Anything Sci-Fi / Horror</li>
    </ul>
  </section>
{% endblock %}