{% extends 'layout.html' %}
{% block content %}
  <section class="navigation">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Travis Alstrand</a>
          <button class="toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <section class="header">
    <h1>Travis Alstrand</h1>
    <p>Learn and help others as much as possible.</p>
    <img src="../static/travis.jpeg" alt="Headshot of myself">
  </section>
  <section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>More About Me</h2>
    <p>
      I currently work at Team Treehouse as a Student Success Specialist doing code reviews for students.
    </p>
    <h2>Hobbies</h2>
    <ul>
      <li>Learning</li>
      <li>Coding</li>
      <li>Playing Guitar</li>
      <li>Recording/Mixing Music</li>
      <li>Trips to the Ocean</li>
      <li>Watching True Crime Documentaries</li>
      <li>Anything Sci-Fi / Horror</li>
    </ul>
  </section>
{% endblock %}